.top {
  width: 100%;
  display: flex;
  min-height: 25vh;
}
.chart-info {
  min-width: 70%;
}
.middle {
  width: 100%;
  display: flex;
  min-height: 35vh;
  gap: 20px;
  align-items: center;
}

.chart {
  min-width: 70%;
}
.bottom {
  width: 100%;
  display: flex;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
}
.divider {
  width: 1%;
  margin: 0 auto;
}
.invest-infos {
  width: 41%;
}

.enterprise-infos {
  width: 58%;
}

.navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1rem;
}
