.top {
  width: 100%;
  display: flex;
  min-height: 25vh;
}
.chart-info {
  min-width: 70%;
}
.middle {
  width: 100%;
  display: flex;
  min-height: 35vh;
  gap: 20px;
}

.chart {
  min-width: 70%;
}
.bottom {
  width: 100%;
  display: flex;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
}
.divider {
  width: 1%;
  margin: 0 auto;
}
.invest-infos {
  width: 41%;
}

.enterprise-infos {
  width: 58%;
}
.right-nav {
  display: flex;
  gap: 20px;
}
.navigator {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1.5rem;
}

.stock-scroll-botton {
  position: fixed;
  bottom: 10px;
  right: 65px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.4rem;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

img:hover + .tooltip {
  opacity: 1;
}
